.navbar-nav li {
  margin-right: 1rem;
}

div.card.map-card {
  height: 100%;
  border-radius: 10px;
}

.danielles-grid {
  /* position: absolute; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* left: 50px; */
  width: 100%;
  height: auto;
}

body {
  color: #fff;
}

.card {
  color: #000;
}