{% extends 'layout.html' %}

{% block headers %}
<title></title>
{% endblock headers %}

{% block body %}
    <div class="col-md-12 px-0">
    <h1 class="display-4" style="margin-top: 10px;">Gold Analysis</h1>
    <p>The occurrence of an earthquake has minimal impact of the direction of Gold prices in the
            subsequent 7-day, 14-day and 1-month intervals as indicated in the charts below. The actual
            performances ranged between a drop of .087% and a gain of 1.73% after seven days; a drop of 1.48%
            and a gain of 3.11% after 14 days and a drop of 1.49% and a gain of 2.95% after a month.
            However in the vast majority of instances (Magnitude 7.1 or less), the performance averages
            between flat and a gain of .01%.</p>
   <p class="lead">
        <h2 align="center">Gold Performance 7 Days after Incident</h2>
        <iframe width="1200" height="600" frameborder="0" scrolling="no" src="//plot.ly/~wel51x/144.embed"></iframe>
        <p></p>
        <br/>
        <p></p>
        <br/>
        <h2 align="center">Gold Performance 14 Days after Incident</h2>
        <iframe width="1200" height="600" frameborder="0" scrolling="no" src="//plot.ly/~wel51x/146.embed"></iframe>
        <p></p>
        <br/>
        <p></p>
        <br/>
        <h2 align="center">Gold Performance 1 Month after Incident</h2>
        <iframe width="1200" height="600" frameborder="0" scrolling="no" src="//plot.ly/~wel51x/140.embed"></iframe>
        <p></p>
        <br/>
        <p></p>
       <h4>Incident Counts by Magnitude:</h4>
        <img src="/static/gold_counts.png" alt="Gold Counts" width="1100" height="100" />
    </p>
</div>
{% endblock body %}
<img src="/static/gold_7.png" alt="Gold 7-day Performance" width="1200" height="600" />
<img src="/static/gold_14.png" alt="Gold 14-day Performance" width="1200" height="600" />
<img src="/static/gold_30.png" alt="Gold 30-day Performance" width="1200" height="600" />