{% extends 'layout.html' %}

{% block headers %}
<title></title>
{% endblock headers %}

{% block body %}
<div>
    <h1 class="display-4" style="margin-top: 10px;">Gold - S&P 500 Intermarket Analysis</h1>
    <p class="lead">
        <h2>Gold vs S&P 500 Performance 30 Days after Incident (WorldWide)</h2>
        <iframe width="1200" height="800" frameborder="0" scrolling="no" src="//plot.ly/~wel51x/112.embed"></iframe>
        <h3>Gold Incident Counts</h3>
        <img src="/static/gold_counts.png" alt="Gold Counts" width="1100" height="100" />
        <h3>S&P 500 Incident Counts</h3>
        <img src="/static/sp500_counts.png" alt="S&P500 Counts" width="1100" height="100" />
    </p>
</div>
{% endblock body %}