{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
    <h1>Interactive Map</h1>
</div>

<div>
    <form action="/map" method="POST">
        <div class="form-group">
            <label for="starttime">Start Date</label>
            <input type="text" class="form-control" name="starttime" id="starttime" placeholder="YYYY-MM-DD">
        </div>
        <div class="form-group">
            <label for="endtime">End Date</label>
            <input type="text" class="form-control" name="endtime" id="endtime" placeholder="YYYY-MM-DD">
        </div>
        <div class="form-group">
            <label for="min-magnitude">Minimum Magnitude</label>
            <input type="text" class="form-control" name="minmagnitude" id="min-magnitude" value="2.5">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Map</button>
        </div>
    </form>
</div>

<div class="card map-card">
    <iframe src="earthquakes.html" frameborder="0" style="width: 100%; height: 70vh;" id="map-iframe">
</div>
{% endblock body %}