{% extends 'layout.html' %}

{% block headers %}
<title></title>
{% endblock headers %}

{% block body %}
<style>
    body {
    background-color: rgba(8, 247, 235, 0.842)
    }
</style>
<div class="col-md-9 px-0">
    <h1 class="display-4" style="margin-top: 10px;">Financial Markets Impact Models</h1>
    <p></p>
    <br/>
    <p class="lead">
        Predictive Models for impact of Earthquake events on Gold prices.
    <p></p>
    <br/>
    <img src="/static/Gold6.7LinReg.png" alt="Gold 6.7LinReg" width="500" height="120" />
    <img src="/static/Gold6.7LogReg.png" alt="Gold 6.7LogReg" width="500" height="66" />
    <p></p>
    <br/>
    <img src="/static/Gold5.5LinReg.png" alt="Gold 5.5LinReg" width="500" height="120" />
    <img src="/static/Gold5.5LogReg.png" alt="Gold 5.5LogReg" width="500" height="66" />
    <p></p>
    <br/>
    <img src="/static/Gold6.7RFReg.png" alt="Gold 6.7RFReg" width="500" height="90" />
    <p></p>
    <br/>
    <img src="/static/Gold5.5RFReg.png" alt="Gold 5.5RFReg" width="500" height="90" />
    <p></p>
    <br/>
    <img src="/static/Gold6.7XGB.png" alt="Gold 6.7XGB" width="500" height="80" />
    </p>
    <p></p>
    <br/>
    <p class="lead">
        Predictive Models for impact of Earthquake events on S&P 500 prices.
    <p></p>
    <br/>
    <img src="/static/SP6.7LinReg.png" alt="Gold 6.7LinReg" width="500" height="120" />
    <img src="/static/SP6.7LogReg.png" alt="Gold 6.7LogReg" width="500" height="66" />
    <p></p>
    <br/>
    <img src="/static/SP5.5LinReg.png" alt="Gold 5.5LinReg" width="500" height="120" />
    <img src="/static/SP5.5LogReg.png" alt="Gold 5.5LogReg" width="500" height="66" />
    <p></p>
    <br/>
    <img src="/static/SP6.7RFReg.png" alt="Gold 6.7RFReg" width="500" height="90" />
    <p></p>
    <br/>
    <img src="/static/SP5.5RFReg.png" alt="Gold 5.5RFReg" width="500" height="90" />
    <p></p>
    <br/>
    <img src="/static/SP6.7XGB.png" alt="Gold 6.7XGB" width="500" height="80" />
    </p>
</div>
{% endblock body %}